/* =======
variables
======= */
:root{
    /* Font Family */
    --ff-primary: Cabinet Grotesk;
    /* --ff-secondary: ; */
    /* primary colors */
    --clr-primary-purple: hsl(272, 100%, 46%);
    --clr-primary-white: hsl(0, 0%, 100%);
    --clr-primary-black: hsl(0, 0%, 0%);
    --clr-primary-yellow:hsl(40, 100%, 48%);
    /* Hover black */
    --clr-bghover-color: hsla(0, 0%, 0%, 0.181);
    /* Pink colors */
    --clr-primary-pink: hsl(298, 100%, 88%);
    /* grey colors color */
    --clr-primary-grey: hsl(18, 36%, 95%);
    --clr-header-brown: hsl(21, 43%, 56%);
    /* Dark grey */
    --clr-dark-grey: hsl(195, 24%, 93%);
    /* Light Grey */
    --clr-light-grey: hsl(272, 89%, 96%);
    --clr-dark-grey: hsl(195, 24%, 93%);
    --clr-darker-grey: hsla(180, 12%, 84%, 0.558);
    /* Border grey */
    --clr-border-grey: hsl(0, 0%, 20%);
    /* darkend green */
    --clr-darkend-green:hsl(195, 60%, 37%);
    /* transition */
    --transition: all .3s linear;
}

/* ======================
    General syles
====================== */
body{
    color: var(--clr-primary-black);
    font-family: var(--ff-primary);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    display: none;
}
.action-btn{
    font-weight: bolder;
    color: var(--clr-primary-purple);
}
.arrow-up {
    position: absolute;
    margin-bottom: -.33rem;
    padding: 0 .5rem 0 .5rem;
    transform: rotate(40deg);
    transition: var(--transition);
}
.action-btn:hover .arrow-up{
    margin-left: .33rem;
    margin-top: -.33rem;
}
.rsv-ct{
    padding: 2.4rem 12.8rem;
}
.pTxt-clrd{
    color: var(--clr-primary-purple);
}
.underlined{
    text-decoration: underline;
}
.bg-grey{
    margin: 0 .2rem;
    border-radius: 50%;
    background: var(--clr-darker-grey);
}
.pinkBg-txt{
    background-color: var(--clr-primary-pink);
    width: 22rem;
    height: 10rem;
    padding: 1rem 2rem;
    letter-spacing: 1.5px;
    transform: rotate(270deg);
    margin: auto;
    position: absolute;
    left: 4.5rem;
}
/* General styles media queries */
@media (width >= 1820px){
/* body{
    display: grid;
    place-content: center;
} */
}
@media (width <= 768px){
.action-btn{
    padding-top: 1rem;
}
.material-symbols-outlined {
    margin-top: -.5rem;
}
}
/* Responsiveness Media query */
@media (width <= 1080px){
.rsv-ct{
    padding: 2.4rem 5rem;
}
}
@media (width <= 867px){
.rsv-ct{
    padding: 2.4rem 3rem;
}
}
@media (width <= 400px){
.rsv-ct{
    padding: 2.4rem 1rem;
}
}
@media (width <= 317px){
.rsv-ct{
    padding: 2.4rem .7rem;
}
}
/* ===================================
Loader Animation
=================================== */
.loader{
    background: var(--clr-primary-purple);
    bottom: 0;
    display: grid;
    height: 100%;
    overflow: hidden;
    place-content: center;
    position: fixed;
    top: 0;
    transition: all 1s ease;
    width: 100%;
    z-index: 30;
}
.remove-loader{
    top: -100vh;
}
.balls{
    height: 35px;
    position: relative;
    width: 35px;
    z-index: 1;
}
.balls::before,
.balls::after{
    animation: load 1s infinite cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 50%;
    content: '';
    height: inherit;
    mix-blend-mode: multiply;
    position: absolute;
    width: inherit;
}
.balls::before{
    background: var(--clr-light-grey);
}
.balls::after{
    animation-delay: .5s;
    background: var(--clr-primary-yellow);
}
.remove-ball{
    opacity: 0;
    transition: .1s;
}
@keyframes load{
    0%, 100%{
        right: -45px;
    }
    25%{
        transform: scale(.3);
    }
    50%{
        right: 0;
    }
    100%{
        transform: scale(1);
    }
}
/* Media Query for loader animation */
@media (width >= 768px){
.balls{
    height: 50px;
    width: 50px;
} 
}
/* ========================================= 
NavBar
========================================= */
.nav{
   align-items: center;
   height: 9.6rem;
   justify-content: space-between; 
   position: sticky;
   top: 0;
   transition: var(--transition);
   width: 100%;
   z-index: 12;
}
.nav > .logo{
    background-repeat: no-repeat;
    background: url(/images/logo1.svg);
    height: 2.4rem;
    width: 11.1rem;
}
.onscroll .logo{
    background: url(/images/logo2.svg);
}
.nav-lists{
  align-items: center;
  font-size: 1.6rem;
  gap: 6rem;  
  text-transform: uppercase;
}
.sub-lists{
    gap: 4rem;
}
.sub-lists a > li{
    color: var(--clr-primary-black);
}
/* List style hover effects */
.sub-lists a > li::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    background: var(--clr-primary-purple);
    border-radius: 10px;
    transform: translate(-40%);
    margin-top: 3rem;
    margin-left: -3rem;
    transition: .3s;
}
.sub-lists a > li:hover::after{
    width: 6rem;
}

.sub-lists a > li.list-2:hover::after{
    margin-left: -4.5rem;
    width: 9rem;
}
.sub-lists a > li.list-3:hover::after,
.sub-lists a > li.list-4:hover::after{
    width: 11rem;
    width: 9rem;
}
.sub-lists a > li.list-3:hover::after{
    margin-left: -5.3rem;
}
.sub-lists a > li.list-4:hover::after{
    margin-left: -4.8rem;
}
/* Nav Onscroll */
.onscroll.nav{
    background: var(--clr-primary-purple);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.191);
    height: 8rem;
}
.onscroll .sub-lists a > li{
    color: var(--clr-primary-white);
    transition: var(--transition);
}
.onscroll .sub-lists a > li::after{
    background: var(--clr-primary-white);
}
.nav-tct{
    text-transform: uppercase;
}
.onscroll .nav-tct{
    color: var(--clr-primary-white);
}
.toggle-bar{
    display: none;
}
/* Mobile View */
@media (width <= 768px){
.nav-lists{
  font-size: 1.5rem;
  gap: 4rem;
}
.sub-lists{
    align-items: center;
    background: 
    linear-gradient(hsl(272, 100%, 46%),hsl(272, 79%, 61%))
    ;
    bottom: 0;
    color: var(--clr-primary-white);
    flex-direction: column;
    height: 0%;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    transition: var(--transition);
    width: 100%;
    z-index: -30;
}
/* List style hover effects */
.sub-lists a > li::after{
    height: 0;
}
.sub-lists a > li:hover{
    opacity: .7;
}
/* Toggle Bar */
.toggle-bar{
    background: transparent;
    border: 0;
    cursor: pointer;
    display: block;
    height: 40px;
    outline: none;
    width: 35px;
    z-index: 30;
}
.sub-lists a > li{
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--clr-primary-white);
    line-height: 2rem;
}
.line{
    background: var(--clr-primary-purple);
    border-radius: 5px;
    height: 2px;
    margin: 10px 0;
    transition: all .3s cubic-bezier(0,0,.58,1.64);
    width: 100%;
    position: relative;
}
/* Onscroll */
.onscroll .line{
    background: var(--clr-primary-white);
}
.nav-active .line1{
    margin-bottom: -1.15rem;
    transform: rotate(45deg);
}
.nav-active .line2{
    transition: .5s;
    opacity: 0;
}
.nav-active .line3{
    margin-top: -1.25rem;
    transform: rotate(-45deg);
}
.nav-active .sub-lists{
    z-index: 20;
    height: 100%;
}
.nav-active .sub-lists > a{
    animation: showList 1.1s;
}
.nav-active .line{
    background: var(--clr-primary-white);
}
}
/* Animation for list items */
@keyframes showList{
    0%{
        opacity: 0;
        translate: 0 90px;
    }
    100%{
        opacity: 1;
    }
}
/* Bounce Animation */
@keyframes bounce{
    0%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}
/* ==============================================
Hero
============================================== */
.hero{
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
    width: 100%;
    overflow-y: hidden;
}
.ctx-hero{
    align-items: center;
    flex: 1;
    gap: 1rem;
    justify-content: center;
    padding: 8rem 5rem;
    width: 100%;
}
/* Hero Text */
.hero-txt{
    width: 100%;
}
.hero-txt h1{
    color: var(--clr-primary-purple);
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 7.5rem;
}
.hero-txt h1 .purple-hero{
    color: var(--clr-primary-yellow);
}
.hero-txt p{
    font-size: 2.3rem;
    line-height: 3.5rem;
    padding-top: 2rem;
    width: 70%;
}
/* Hero Image */
.hero-image{
    position: relative;
}
.hero-image > .glasses-img{
    left: -15rem;
    position: absolute;
    top: -9rem;
    transition: var(--transition);
    width: 30rem;
    z-index: 10;
}
.hero-image > .glasses-img:hover{
    filter: grayscale(100%);
}
.hero-image > .background,
.hero-image > img{
    border-radius: 2%;
}
.hero-image > .background{
    background-color: var(--clr-primary-pink);
    height: 45.4rem;
    position: absolute;
    transform: rotate(-25deg);
    width: 45.4rem;
    z-index: -1;
}
.hero-image > .audience-img{
    filter: grayscale(100%);
    height: 40.3rem;
    object-fit: cover;
    position: relative;
    transform: rotate(10deg);
    transition: transform, var(--transition);
    width: 40.3rem;
}
/* Image Hover effect */
.hero-image > .audience-img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
.hero-btns{
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
}
.hero-btns > a button{
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    height: 5.2rem;
    letter-spacing: 1px;
    line-height: 3.2rem;
    outline: none;
    text-transform: capitalize;
    transition: var(--transition);
    width: 15rem;
}
.hero-btns > a button.drk-btn{
    background: #7504d7;
    color: var(--clr-primary-white);
}
.hero-btns > a button:hover{
    opacity: .7;
}
/* Hero footer */
.hero-footer{
    padding: 8rem 0 0 0;
    text-align: center;
}
.star1,
.star2{
    position: absolute;
}
.star2{
    margin-top: -5rem;
    right: 8rem;
}
.hero-footer h4{
    color: var(--clr-primary-purple);
    font-size: 2.6rem;
    line-height: 5rem;
}
.hero-footer h2{
    font-size: 4.4rem;
    letter-spacing: 1px;
    line-height: 5.3rem;
    padding-top: 1rem;
}
/* Hero Media query */
@media (width <= 1475px){
.ctx-hero{
    padding: 8rem 0;
}
.hero-image > .glasses-img{
    left: -5rem;
    width: 25rem;
}
}
@media (width <= 1255px){
.hero-txt h1{
    font-size: 4rem;
    line-height: 5rem;
}
.hero-txt p{
    font-size: 2rem;
    line-height: 3.5rem;
    width: 90%;
}
.hero-btns > a button{
    font-size: 1.3rem;
    height: 5rem;
    line-height: 3rem;
}
}
@media (width <= 1079px){
.hero-txt h1{
    font-size: 5rem;
    line-height: 6rem;
}
.hero-txt p{
    font-size: 2.2rem;
    line-height: 4.5rem;
    width: 90%;
}
}
/* Mobile */
@media (width <= 991px){
.ctx-hero{
    flex-direction: column;
    gap: 10rem 0;
}
.hero-txt h1{
    font-size: 3.8rem;
    line-height: 4.8rem;
}
.hero-txt p{
    font-size: 2rem;
    line-height: 4.2rem;
    width: 100%;
}
.hero-btns{
    padding: 1rem 0;
}
.hero-btns > a button{
    font-size: 1.3rem;
    height: 5.2rem;
    line-height: 3rem;
}
/* HERO IMAGE */
.hero-image > .glasses-img{
    left: 5rem;
    top: -7rem;
    width: 20rem;
}
.hero-image > .background{
    height: 35.4rem;
    width: 35.4rem;
}
.hero-image > .audience-img{
    height: 33.3rem;
    width: 33.3rem;
}
/* Hero footer */
.hero-footer{
    padding: 4rem 0 0 0;
}
.star1,
.star2{
    width: 4rem;
}
.star2{
    margin-top: -8rem;
    right: 2rem;
}
.hero-footer h4{
    font-size: 2.5rem;
    line-height: 4rem;
}
.hero-footer h2{
    font-size: 2.5rem;
    line-height: 4rem;
}
}

/* Smaller Screens */
@media (width <= 493px){
.hero-image{
    padding: 0 1rem;
}
.hero-image > .glasses-img{
    top: -7rem;
    width: 18rem;
}
.hero-image > .background{
    width: 30.4rem;
}
.hero-image > .audience-img{
    width: 33.3rem;
}    
.star2{
    margin-top: -5rem;
    right: .5rem;
}
}
@media (width <= 394px){
.hero-image > .glasses-img{
    width: 15rem;
}
.hero-image > .background{
    width: 25.4rem;
}
.hero-image > .audience-img{
    width: 27.3rem;
}    
}
/* ==============================================
About
============================================== */
#abt-us{
    padding-top: 3rem;
    padding-bottom: 8rem;
    height: fit-content;
    width: 100%;
}
.container-abt{
    grid-template-columns: repeat(2, 1fr);
    margin: 4.5rem 0;
}
.txt-subtitles,
.ctx-abt{
    height: 53rem;
}
.txt-subtitles{
    align-items: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px solid hsl(272, 100%, 46%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.ctx-abt{
    background: var(--clr-primary-purple);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--clr-primary-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7rem 5rem;
}
.ctx-abt > p{
    font-size: 3rem;
    line-height: 180%;
}
/* Ctx-abt footer Icons */
.ctx-footer{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.container-icon,
.hr-efct{
    border-radius: 50%;
    color: var(--clr-primary-white);
    cursor: pointer;
    width: 5rem;
}
.container-icon > i{
    height: 5rem;
    padding: 1rem;
    position: relative;
    transition: var(--transition);
}
.container-icon > .hr-efct{
    background: var(--clr-bghover-color);
    height: 0;
    position: absolute;
    transition: .3s ease;
}
.container-icon:hover > .hr-efct{
    height: 5rem;
}
.ctx-icons{
    display: flex;
    font-size: 3rem;
    gap: 2rem;
}
/* Icon media quert */
@media (width <= 1201px){
.container-icon,
.hr-efct{
    width: 3rem;
}
.container-icon > i{
    height: 3rem;
    padding: .5rem .5rem .5rem .6rem;
}
.ctx-icons{
    font-size: 2rem;
    gap: 1.5rem;
}
.container-icon:hover > .hr-efct{
    height: 3rem;
}
}
@media (width <= 768px){
.ctx-icons{
    font-size: 2rem;
    gap: 1rem;
}
.container-icon:hover > .hr-efct{
    height: 3rem;
}
}
/* Tablet responsive */
@media (width <= 1301px){
.ctx-abt{
    padding: 7rem 3rem;
}
.ctx-abt > p{
    font-size: 2.5rem;
}    
}
@media (width <= 1100px){
.ctx-abt > p{
    font-size: 2.3rem;
}    
}
/* Mobile responsive */
@media (width <= 768px){
.container-abt{
    grid-template-columns: 1fr;
}
.txt-subtitles{
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
}
.ctx-abt{
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    padding: 7rem 2rem;
}
.ctx-abt > p{
    font-size: 2.5rem;
}
}
/* =============================================== 
Speakers 
=============================================== */
.speaker-sect{
    width: 100%;
    height: f0-content;
    background: var(--clr-light-grey);
    padding: 8rem 0;
    cursor: all-scroll;
}
.ctr-txt > h1{
    font-size: 6.4rem;
    color: var(--clr-header-brown);
    line-height: 150%;
    padding-bottom: 3rem;
    width: 97.18rem;
    font-family: 'Maison Neue', sans-serif;
}
.underline{
    background: var(--clr-header-brown);
}
.ctr-txt > p{
    font-size: 2.6rem;
    line-height: 6rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.ctr-txt > h3{
    font-size: 2.5rem;
    line-height: 6rem;
    color: var(--clr-header-brown);
}
/* Cards */
.cards-slider{
    height: fit-content;
    gap: 0 3rem;
    overflow-y: auto;
    position: relative;
}
.cards-slider::-webkit-scrollbar{
    display: none;
}
.cards-ctx{
    width: 100%;
}
.cards-slider > .card:hover .overlay{
    animation: showOverlay .4s linear;
    display: block;
    height: 34.4rem;
}
.crd-hd > .overlay{
    background: hsla(0, 0%, 0%, 0.358);
    display: none;
    height: 0;
    position: absolute;
    transition: var(--transition);
    width: 40.8rem;
    z-index: 1;
}
/* Overlay Animation for speakers hover effect */
@keyframes showOverlay{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.crd-hd > img{
    width: 40.8rem;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.bg-purple{
    background: var(--clr-primary-purple);
}
.bg-yellow{
    background: var(--clr-primary-yellow);
}
.bSub-tag{
    color: var(--clr-primary-white);
    font-size: 1.7rem;
    width: 12.5rem;
    height: 5rem;
    display: grid;
    place-content: center;
    position: absolute;
    border-radius: 3px;
    margin: 2rem 0 0 2rem;
    text-transform: uppercase;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.103);
    user-select: none;
} 
.crd-hd{
    padding: 2rem 0;
}
.crd-hd > h4{
    font-size: 2.5rem;
    letter-spacing: 3px;
    line-height: 4rem;
}
.crd-hd > h2{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 200%;
    text-transform: capitalize;
}
.crd-hd > p{
    font-size: 2rem;
    line-height: 4.8rem;
}
/* Media queries */
@media (width <= 1105px){
.ctr-txt > h1{
    font-size: 4.4rem;
    line-height: 120%;
    padding-bottom: 3rem;
    width: 100%;
}
}
@media (width <= 768px){
.speaker-sect{
    height: fit-content;
    padding: 3rem 0 0 0;
}
.ctr-txt > h1{
    font-size: 2.7rem;
    line-height: 180%;
    padding-bottom: 1rem;
    width: 100%;
}
.ctr-txt > p{
    font-size: 2rem;
    line-height: 180%;
}
.ctr-txt > h3{
    font-size: 1.9rem;
    line-height: 180%;
}
.cards-slider > .card:hover .overlay{
    height: 19.3rem;
}
.crd-hd > img,
.crd-hd > .overlay{
    width: 22.8rem;
}
.bSub-tag{
    font-size: 1.2rem;
    width: 8.4rem;
    height: 3.2rem;
    margin: 1.5rem 0 0 1.5rem;
} 
.crd-hd{
    padding: 1rem 0;
}
.crd-hd > h4{
    font-size: 1.4rem;
    line-height: 2.8rem;
}
.crd-hd > h2{
    font-size: 2rem;
    line-height: 4rem;
}
.crd-hd > p{
    font-size: 1.4rem;
    line-height: 1.96rem;
}
}


/* ===========================================
Organizer
=========================================== */
.organizers{
    padding-top: 10rem;
    padding-bottom: 5rem;
    height: fit-content;
    width: 100%;
}
.orgz-container{
    gap: 1rem 19rem;
    grid-template-columns: repeat(2, 1fr);
}
.orgz-hdtx img{
    position: absolute;
    right: -4rem;
}
.orgz-cad{
    background: var(--clr-dark-grey);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 50.64rem;
    justify-content: space-evenly;
    padding: 0 4rem;
    width: 60rem;
    position: relative;
}
/* Organizers action btns */
.orgz-btn2,
.orgz-btn{
    text-decoration: underline;
}
.orgz-btn{
    font-size: 2.5rem;
    font-weight: 400;
}
.orgz-btn2{
    font-size: 2rem;
    padding-left: .5rem;
}
/* Organizers in person */
.orgz-ctx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
}
.orgz-profile{
    align-items: center;
    gap: 2rem;
}
.orgz-profile > h3{
    padding-top: 1rem;
}
.orgz-profile img{
    height: 7rem;
    width: 7rem;
}
.orgz-ctx p{
    font-size: 2.4rem;
    line-height: 150%;
    padding: 2rem 0;
}
.avartas-container{
    align-items: center;
    padding: 1rem 0;
}
.othr-orgz{
    cursor: all-scroll;
    overflow: auto;
    padding: 1rem 0;
    width: 23rem;
}
.othr-orgz::-webkit-scrollbar{
    display: none;
}
.othr-orgz img{
    gap: 0 3rem;
    height: 5.2rem;
    width: 5.2rem;
}
/* Organizers Media query */
/* Televisions */
@media (width >= 1900px){
.orgz-container{
    gap: 1rem 0;
    place-content: center;
}
}
/* large screen */
@media (width <= 1496px){
.orgz-container{
    gap: 1rem 5rem;
}
}
/* Medium large screen */
@media (width <= 1358px){
.orgz-container{
    gap: 1rem 3rem;
}
.orgz-ctx > h2{
    font-size: 4.8rem;
}
.orgz-ctx h3{
    font-size: 3.98rem;
}
}
@media (width <= 1323px){
.orgz-cad{
    height: 48.64rem;
    padding: 0 3rem;
    width: 50rem;
}
.orgz-ctx > h2{
    font-size: 4rem;
}
.orgz-ctx h3{
    font-size: 2.8rem;
}
.orgz-btn2{
    font-size: 1.3rem;
}
}
@media (width <= 1245px){
.orgz-ctx > h2{
    font-size: 3rem;
}
.orgz-ctx h3{
    font-size: 2rem;
}
.orgz-ctx p{
    font-size: 2rem;
    padding: 1rem 0;
}
}
@media (width <= 959px){
.orgz-container{
    gap: 1rem 1.5rem;
}
.orgz-cad{
    height: 45.64rem;
    padding: 0 2rem;
    width: 40rem;
}
.orgz-hdtx img{
    right: 14rem;
    margin-top: -3rem;
}
}
/* Mobile large screen */
@media (width <= 768px){
.organizers{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.orgz-container{
    gap: 5rem 0;
    grid-template-columns: 1fr;
}
.orgz-cad{
    background: none;
    height: fit-content;
    padding: 0% 0%;
    width: 100%;
}
.orgz-hdtx img{
    right: 14rem;
    margin-top: -3rem;
}
/* action btns media query */
.orgz-btn{
    font-size: 2rem;
    margin-top: 47rem;
}
.orgz-btn2{
    font-size: 1.8rem;
}
/* Adding bg to orgz-ctx */
.orgz-ctx{
    background-color: var(--clr-dark-grey);
    height: 38.4rem;
    left: 0;
    margin-bottom: 3rem;
    padding: 2.4rem 3rem;
    padding: 3rem 1rem;
    position: absolute;
    transform: translateY(30%);
    width: 100%;
}
}
/* *orgz BTN2 Smaller screens  */
@media (width <= 400px){
.orgz-btn2{
    font-size: 1.5rem;
}
}
@media (width <= 340px){
.orgz-btn2{
    font-size: 1rem;
}
}
@media (width <= 312px){
.orgz-btn2 .arrow-up{
    display: none;
}
}
/* Orgz mobile arrow down btn */
@media (width <= 316px){
.orgz-hdtx img{
    right: -1rem;
    margin-top: -3rem;
}
}
/* bg to orgz-ctx media query */
@media (width <= 516px){
.orgz-ctx{
    height: 45rem;
    padding: 2.4rem 2rem;
}
}
@media (width <= 400px){
.orgz-ctx{
    padding: 2.4rem 1rem;
}
}
@media (width <= 317px){
.orgz-ctx{
    padding: 2.4rem .7rem;
}
}
@media (width <= 280px){
.orgz-ctx{
    height: 49rem;
    padding: 2.4rem .7rem;
}
}
/* Media query for action btn */
@media (width <= 768px){
.orgz-btn{
    margin-top: 42rem;
}
}
@media (width <= 517px){
.orgz-btn{
    margin-top: 51rem;
}
}
@media (width <= 320px){
.orgz-btn{
    margin-top: 50rem;
}
}
@media (width <= 280px){
.orgz-btn{
    margin-top: 52rem;
}
}
/* Organziers arrow btn retouch */
@media (width <= 1240px){
.orgz-hdtx img{
    right: -1rem;
    margin-top: 1rem;
}
}
@media (width <= 768px){
.orgz-hdtx img{
    right: none;
    left: 23rem;
    margin-top: -2rem;
}
}


/* =========================================
Sponsors
=========================================  */
.sponsors{
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: fit-content;
    width: 100%;
}
.container-sponsors{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.sponsors-headline > h1{
    font-size: 6.4rem;
    line-height: 120%;
}
.sponsors-headline > p{
    font-size: 2.4rem;
    line-height: 180%;
    padding: 3rem 0 2rem 0;
}
.sponsor-actBtn{
    font-size: 2.3rem;
    line-height: 120%;
    text-transform: capitalize;
}
/* Logo's Container */
.container-logos{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    max-height: 100vh;
    overflow: auto;
    padding-left: 10rem;
}
.container-logos::-webkit-scrollbar{
    display: none;
}
.sponsor-logo{
    border-radius: 1px;
    border: 1px solid hsl(0, 0%, 20%);
    display: grid;
    height: 17.6rem;
    place-content: center;
}
/* You sponsor grid box */
.you-sponsor{
    border-color: var(--clr-primary-purple);
    color: var(--clr-primary-purple);
}
/* Media query for Sponsors */
@media (width <= 1180px){
.container-logos{
    gap: 1rem;
    padding-left: 2rem;
}
}
@media (width <= 1121px){
.container-logos{
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1rem;
}
}
/* Media query Tablets */
@media (width <= 938px){
.sponsors-headline > h1{
    font-size: 5.5rem;
}
.sponsors-headline > p{
    font-size: 2.3rem;
    padding: 2.3rem 0 1.5rem 0;
}
.sponsor-actBtn{
    font-size: 2.2rem;
}
.container-sponsors{
    gap: 5rem 0;
    grid-template-columns: 1fr;
}
.container-logos{
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
}
}
/* Medi query Mobiles */
@media (width <= 524px){
.sponsors{
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.container-logos{
    grid-template-columns: repeat(3, 1fr);
    height: 28.14rem;
}
.sponsor-logo{
    height: 6rem;
}
.sponsor-logo > img{
    height: 2.14rem;
    width: 8rem;
}
.you-sponsor > h4{
    font-size: 1.8rem;
}
}
@media (width <= 295px){
.container-logos{
    grid-template-columns: repeat(2, 1fr);
    height: 28.14rem;
}
.sponsor-logo > img{
    height: 2.14rem;
    width: 8rem;
}
.you-sponsor > h4{
    font-size: 1.8rem;
}
}


/* ====================================
Convinced!
====================================== */
.convinced{
    padding-top: 3rem;
    padding-bottom: 10rem;
    width: 100%;
}
.ctx-convinced{
    width: 100%;
}
.ctx-convinced > h1,
.ctx-convinced > h4{
    text-align: center;
}
.ctx-convinced > h1{
    font-size: 6.7rem;
    font-style: normal;
    line-height: 130%;
}
.ctx-convinced > h4{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 180%;
    padding-bottom: 6.7rem;
}
.price-cards{
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
}
.tableCard1{
    background: var(--clr-light-grey);
    border-top: 3px solid #7D00EB;
}
.tableCard2{
    background: var(--clr-dark-grey);
    border-top: 3px solid #267A96;
}
.card{
    border-radius: 3px;
    height: 58.2rem;
    padding: 3rem 5rem;
}
.card > h3{
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.card > h2{
    font-size: 5.4rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}
.card1 > h2{
    color: var(--clr-primary-purple);
}
.card2 > h2{
    color: var(--clr-darkend-green);
}
.card ul{
    color: var(--clr-primary-black);
    padding-bottom: 3rem;
    padding-top: 1rem;
}
.card2 ul > span i{
    color: var(--clr-darkend-green);
}
.card1 ul > span i{
    color: var(--clr-primary-purple);
}
.card ul > span{
    align-items: center;
    gap: 1rem;
}
.card > ul li{
    font-size: 2rem;
    line-height: 230%;
}
.crd-btn{
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
}
.card2 .crd-btn{
    color: var(--clr-darkend-green);
}
/* Convinced media query */
@media (width <= 994px){
.card{
    height: 54rem;
    padding: 3rem 2rem;
}
.ctx-convinced > h1{
    font-size: 4.5rem;
}
.ctx-convinced > h4{
    font-size: 2.3rem;
    line-height: 180%;
    padding-bottom: 5rem;
}
.card > h3{
    font-size: 3.7rem;
}
.card > h2{
    font-size: 3.5rem;
}
.card ul{
    padding-bottom: 2rem;
}
.card > ul li{
    font-size: 1.9rem;
}
.crd-btn{
    font-size: 2.2rem;
}
}
@media (width <= 768px){
.convinced{
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.ctx-convinced > h1{
    font-size: 3.5rem;
}
.ctx-convinced > h4{
    font-size: 1.9rem;
    line-height: 180%;
    padding-bottom: 5rem;
}
.price-cards{
    grid-template-columns: repeat(1, 1fr);
}
.card{
    height: 56.5rem;
    padding: 3rem 2rem;
    text-align: center;
}
.card > h3,
.card > h2{
    text-align: center;
}
.card > h3{
    font-size: 3.8rem;
    padding-bottom: 1rem;
}
.card > h2{
    font-size: 3.7rem;
}
.card ul{
    padding-bottom: 3rem;
}
.card > ul li{
    font-size: 1.9rem;
    line-height: 260%;
}
.crd-btn{
    font-size: 2rem;
    line-height: 120%;
}
}


/* ====================================
Footer
====================================== */
.footer-sct{
    background: var(--clr-primary-grey);
    bottom: 0;
    height: 58.4rem;
    padding: 2rem 0;
    position: relative;
    width: 100%;
}
.rows-container{
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
}
.row1-fter,
.row3-fter{
    justify-content: space-between;
}
.row1-fter,
.row2-fter,
.row3-fter{
    height: 100%;
}
/* Footer typography */
/* Row 1 */
.row1-fter > h4{
    font-size: 1.8rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.row1-fter > a{
    font-size: 4rem;
    line-height: 200%;
    text-decoration: underline;
}
/* Row 2 */
.row2-fter > h3{
    font-size: 3.5rem;
    font-weight: 700;
}
.row2-fter > ul{
    padding: 3rem 0;
}
.row2-fter > ul a{
    color: var(--clr-primary-black);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 320%;
    text-transform: uppercase;
}
.row2-fter > ul a:hover{
    opacity: .6;
}
/* Row 3 */
.row3-container h3{
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 3rem;
}
.fter-tpArrow{
    background-color: transparent;
    border: 0;
    outline: none;
}
.fter-tpArrow i{
    animation: jump 1s cubic-bezier(0,0,.58,1.64) infinite;
    color: var(--clr-primary-purple);
    cursor: pointer;
    font-size: 3rem;
    transition: all .3s ;
}
/* Jump animation */
@keyframes jump{
    0%{
        translate: 0 0;
    }
    100%{
        translate: 0 -2rem;
    }
}
.row3-fter p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 200%;
    padding-top: 4rem;
}
.footer-footer{
    align-items: flex-end;
    justify-content: space-between;
}
/* Footer Icons */
.scI-cRighter .ctx-icons{
    justify-content: flex-end;
    padding-bottom: 2rem;
}
.row3-fter p{
    padding-bottom: 2rem;
}
.ft-i > i{
    color: var(--clr-primary-purple);
}
.ft-i > i:hover{
    color: var(--clr-primary-white);
}
.copyright{
    font-size: 2rem;
    font-weight: 500;
    line-height: 200%;
}
/* Footer Media query */
@media (width < 957px){
.rows-container{
    gap: 3rem 0;
}
/* Footer Mobile Typography */
/* Row 1 */
.row1-fter > h4{
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.row1-fter > a{
    font-size: 2.5rem;
    line-height: 4.8rem;
}
/* Row 2 */
.row2-fter > h3{
    font-size: 3rem;
}
.row2-fter > ul{
    padding: 1rem 0;
}
.row2-fter > ul a{
    font-size: 1.5rem;
    line-height: 300%;
}
/* Row 3 */
.row3-container h3{
    font-size: 3rem;
}
.fter-tpArrow{
    background-color: transparent;
    border: 0;
    outline: none;
}
.fter-tpArrow i{
    font-size: 2.8rem;
    right: 1rem;
}
.row3-fter p{
    font-size: 2rem;
    font-weight: 500;
    line-height: 200%;
    padding-top: 1.8rem;
}
@media (width <= 454px){
.copyright{
    font-size: 1.6rem;
    text-align: center;
}
}
/* ================= */
.footer-footer{
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.scI-cRighter .ctx-icons{
    justify-content: flex-start;
    padding-top: 2rem;
}
.footer-sct{
    height: fit-content;
}
.rows-container{
    grid-template-columns: repeat(1, 1fr);
}
}



/* Larger Screens (TV's and max-wider screen) */
@media (width > 2050px){
.nav,
.hero,
#abt-us, 
.speaker-sect,
.organizers,
.sponsors,
.convinced,
#footer{
    display: grid;
    place-content: center;
}
.orgz-container{
    gap: 1rem 10rem;
}
.orgz-cad{
    height: 80.64rem;
    padding: 0 10rem;
    width: 100%;
}
/* Navbar XXlarg screens */
.nav{
    gap: 0 50rem;
}
}