 <!-- ====================================== 
    About
====================================== -->
    <article id="abt-us" class="rsv-ct">
        <div class="container-abt grd">
            <div class="txt-subtitles">
                <h4 class="pTxt-clrd tt-upc">Human-centered community</h4>
                <h1>We are <br><span class="pTxt-clrd underlined">Designers</span></h1>
            </div>
            <div class="ctx-abt">
                <p>A community of Influencers and Tech Personalities forging a stage where the continent's brightest minds meet new patners, and the sharpest innovators to share their visions.</p>
    
                <div class="ctx-footer">
                    <div class="icon">
                        <a href="#">
                            <img loading="lazy" src="images/logo2.svg" alt="logo">
                        </a>
                    </div>
                    <div class="ctx-icons">
                        <a href="#" class="container-icon">
                            <span class="hr-efct"></span>
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="#" class="container-icon">
                            <span class="hr-efct"></span>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a href="#" class="container-icon">
                            <span class="hr-efct"></span>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a href="#" class="container-icon">
                            <span class="hr-efct"></span>
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>