
<!-- ====================================
Convinced!
======================================  -->
    <section id="convinced" class="convinced">
        <div class="ctx-convinced rsv-ct">
            <h1>Convinced?</h1>
            <h4>Let's get you a spot now</h4>
            <!-- Pricing cards -->
            <article class="price-cards grd">
                <!-- Card 1 -->
                <div class="card card1">
                    <h3>In-person</h3>
                    <h2 class="stroked">n1500</h2>
                    <!-- Card package Lists -->
                    <ul>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                    </ul>
                    <!-- Action btn -->
                    <a href="tel:09053327214" class="crd-btn action-btn">
                        Buy tickets
                        <span class="arrow-up">
                            <i class="fa-solid fa-arrow-up"></i>
                        </span>
                    </a>
                </div>
                <!-- Card 2 -->
                <div class="card card2">
                    <h3 class="stroked">Online</h3>
                    <h2>FREE</h2>
                    <!-- Card package Lists -->
                    <ul>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx deselected">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx deselected">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                        <span class="flx deselected">
                            <i class="fa-solid fa-star"></i>
                            <li>Feature perk 1 for attendee</li>
                        </span>
                    </ul>
                    <!-- Action btn -->
                    <a href="tel:09053327214" class="crd-btn action-btn">
                        reserve your spot
                        <span class="arrow-up">
                            <i class="fa-solid fa-arrow-up"></i>
                        </span>
                    </a>
                </div>
            </article>
        </div>
    </section>