<!-- ====================================
HERO!
======================================  -->
    <section id="hero" class="hero rsv-ct">
        <div class="ctx-hero flx">
            <!-- Text container -->
            <div class="txt-hero">
                <!-- Desktop text img -->
                <div class="hero-text">
                    <img loading="lazy" src="./images/text 2 logo.svg" alt="influencer meet tech" class="desktop-txt">
                    <!-- Mobile text img -->
                    <img loading="lazy" src="./images/text logo.svg" alt="influencer meet tech" class="mobile-txt">
                </div>
                <!-- Arrow image -->
                <span class="arrow-bg">
                    <img loading="lazy" src="images/Arrow hero.svg" alt="arrow">
                </span>
            </div>
            <!-- hero image -->
            <div class="image-hero">
                <!-- Image 1 glass -->
                <span class="hero-img1">
                    <img loading="lazy" src="./images/glasses.svg" alt="audience">
                </span>
                <div class="heroBg-pink"></div>
                <!-- Image 2 audience -->
                <span class="hero-img2">
                    <img loading="lazy" src="./images/audience.svg" alt="audience">
                </span>
            </div>
        </div>
        <!-- Background stars -->
            <!-- Star 1 -->
        <span class="stars-hero flx">
            <img class="star1" loading="lazy" src="./images/star2.svg" alt="star.svg">
            <!-- Star 2 -->
            <img class="star2" loading="lazy" src="./images/star1.svg" alt="star.svg">
        </span>

        <footer class="hero-footer">
            <h4>WHAT IS IMTCONF?</h4>
            <h2>We are a Community of Influencers and Tech Personalities</h2>
        </footer>
    </section>