<!-- ======================================== 
Organizers
======================================== -->
     <article id="organizers" class="organizers rsv-ct">
      <div class="orgz-container grd">
          <div class="orgz-cad">
              <span class="orgz-hdtx">
                  <h3>Meet The</h3>
                  <h1>Organizers</h1>
                  <picture>
                      <img loading="lazy" src="./images/arrow2.svg" alt="arrow icon" class="show-img">
                      <img loading="lazy" src="./images/arrow down.svg" alt="arrow icon" class="hidden-img">
                  </picture>
              </span>

              <a href="#" class="action-btn orgz-btn">
                  Read more about KND here
                  <span class="arrow-up">
                      <i class="fa-solid fa-arrow-up"></i>
                  </span>
              </a>
          </div>
          <!-- Organizers context -->
          <div class="orgz-ctx">
              <h2>Andikan F. Bassey</h2>
              <span class="orgz-profile flx">
                  <span class="bg-grey">
                      <img loading="lazy" src="./images/avarta1.svg" alt="product designer">
                  </span>
                  <h3>Product Designer</h3>
              </span>
              <p>
                  Andikan is one of the amazing creatives of KND. He has over 4 years of design experience and is currently creating design solutions as a freelancer. Want to know more about Andikan? Follow his socials!
              </p>
              <div class="avartas-container flx">
                  <span class="othr-orgz flx">
                      <!-- avarta1 -->
                      <img loading="lazy" src="./images/avarta2.svg" alt="product designer2">
                      <!--avarta2  -->
                    <span class="bg-grey">
                      <img loading="lazy" src="./images/avarta3.svg" alt="product designer3">
                    </span>
                      <!--avarta3  -->
                    <span class="bg-grey">
                      <img loading="lazy" src="./images/avarta4.svg" alt="product designer4">
                    </span>
                      <!--avarta4  -->
                    <span class="bg-grey">
                      <img loading="lazy" src="./images/avarta5.svg" alt="product designer5">
                    </span>
                      <!--avarta5  -->
                    <span class="bg-grey">
                      <img loading="lazy" src="./images/avarta6.svg" alt="product designer6">
                    </span>
                      <!-- Avarta6 -->
                    <span class="bg-grey">
                      <img loading="lazy" src="./images/avarta3.svg" alt="product designer6">
                  </span>
                  </span>
                  <a href="#" class="action-btn orgz-btn2">
                      View more
                      <span class="arrow-up">
                          <i class="fa-solid fa-arrow-up"></i>
                      </span>
                  </a>
              </div>
          </div>
      </div>
  </article>